<?xml version="1.0" encoding="UTF-8"?>
<resources>
	<section name="MainWindow">
		<!--Main window position, size and state (6-maximized, 7-minimized, 10-normal)-->
		<item name="Appearance" left="219" top="84" width="1476" height="849" state="6" is_fullscreen="false"/>
		<!--Top menu states-->
		<item name="TopMenuState" SettingsWindowVisible="true" ModelIlluminated="false"/>
		<!--Language-->
		<item name="Locale" Language="rus"/>
	</section>--&gt;
	<section name="Project">
		<!--Project filename, XML-part. Using a relative path for easy moving/copying the application, if possible.-->
		<item name="ProjectName" filename="../demi.demi"/>
		<!--Checkboxes on settings window-->
		<item name="Checkboxes" autorun="false" autosave="false" autosave_hourly="true" top="0" state="7" width="1280" height="1024" left="0"/>
	</section>--&gt;
	<section name="Language">
		<!--User message in module: app-->
		<lang name="AppModelTimeLabel" eng="Model time:" rus="Время модели:"/>
		<lang name="AppMainWindowTitle" eng="Demi: Hello World" rus="Demi: Здравствуй мир"/>
		<lang name="AppScaleLabel" eng="Scale " rus="Масштаб "/>
		<!--User message in module: world-->
		<lang name="WorldLoadModelErrorNeedToStop" eng="Need to stop the evolution prior to load!" rus="Необходимо остановить расчёт перед загрузкой!"/>
		<lang name="WorldWrongSize" eng="Invalid world size, must be less 30 000 (width=%1, height=%2)" rus="Неверный размер мира, должен быть менее 30 000 (width=%1, height=%2)"/>
		<lang name="WorldWrongBinaryFileVersion" eng="Incorrect version binary file: need Ver:1, read %1" rus="Неверная версия двоичного файла: ожидается Ver:1, прочитано %1"/>
		<lang name="WorldWrongBinaryFileElementsCount" eng="Error reading binary file elements count: need %1, read %2" rus="Ошибка чтения количества элементов из двоичного файла: ожидается %1, прочитано %2"/>
		<lang name="WorldWrongBinaryFileElementsName" eng="Error reading binary file elements names: need %1, read %2" rus="Ошибка чтения названий элементов из двоичного файла: ожидается %1, прочитано %2"/>
		<lang name="WorldWrongBinaryFileMarker" eng="Error reading binary file: need %1, read %2" rus="Ошибка чтения двоичного файла: ожидается маркер %1, прочитано %2"/>
		<lang name="WorldWrongBinaryFileCannotReadDots" eng="Error reading binary file: cannot read dot #%1" rus="Ошибка чтения двоичного файла: невозможно прочитать точку №%1"/>
		<lang name="WorldWrongBinaryFileResmaxMarker" eng="Error reading binary file: need ResMax:, read %1" rus="Ошибка чтения двоичного файла: ожидается маркер ResMax:, прочитано %1"/>
		<lang name="WorldWrongBinaryFileCannotReadResmax" eng="Error reading binary file: cannot read ResMax" rus="Ошибка чтения двоичного файла: не удалось прочитать ResMax"/>
		<!--User message in module: model_render-->
		<lang name="ModelRenderSolar" eng="Solar      : " rus="Солнце  : "/>
		<lang name="ModelRenderGeothermal" eng="Geothermal : " rus="Геотерм : "/>
		<lang name="ModelRenderOrganism" eng="Organism   : " rus="Организм: "/>
		<!--User message in module: windows_settings-->
		<lang name="WindowsSettingsFileExistDlg" eng="File %1 exists. Rewrite it?" rus="Файл %1 существует. Перезаписать его?"/>
		<lang name="WindowsSettingsRestartModel" eng="Start simulation of the world anew? Attention - file .demib if exists, will be deleted." rus="Начать расчёт модели заново? Внимание - файл .demib будет удалён, если он существует."/>
		<lang name="WindowsSettingsButtonNew" eng="New" rus="Новый"/>
		<lang name="WindowsSettingsButtonOpen" eng="Open" rus="Открыть"/>
		<lang name="WindowsSettingsButtonSave" eng="Save" rus="Сохранить"/>
		<lang name="WindowsSettingsButtonSaveAs" eng="SaveAs" rus="СохранитьКак"/>
		<lang name="WindowsSettingsButtonRestart" eng="Restart" rus="Рестарт"/>
		<lang name="WindowsSettingsButtonRun" eng="Run / Pause" rus="Старт / Пауза"/>
		<lang name="WindowsSettingsCheckboxAutoRun" eng="Autostart last project on program load" rus="Автостарт последнего проекта при загрузке"/>
		<lang name="WindowsSettingsCheckboxAutoSave" eng="Autosave project on program exit" rus="Сохранять проект при выходе"/>
		<lang name="WindowsSettingsCheckboxAutoSaveHourly" eng="Autosave project every hour" rus="Автосохранение каждый час"/>
		<lang name="WindowsSettingsProjectName" eng="Project name: " rus="Проект: "/>
		<lang name="WindowsSettingsProjectNameAbsent" eng="not selected or not available" rus="не выбран или недоступен"/>
		<lang name="WindowsSettingsTreeInanimateSubTree" eng="Inanimate world" rus="Неживой мир"/>
		<lang name="WindowsSettingsTreeAnimateSubTree" eng="First Organism" rus="Живой мир"/>
		<lang name="WindowsSettingsAmountsLabel" eng="Amounts, pcs:" rus="Количество, шт.:"/>
	</section>--&gt;
</resources>